

.header {  
    display: block;
    height: 30%;
    background-color: #bbdefb7e;
}

.header>.text {
    justify-self: center;
    align-self: center;
    margin: 0 auto;
    background-color: #cbe1f47d;
}

.registration { 
    justify-content: right;
}
      