

.header {  
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    background-color: #bbdefb;
    grid-template-areas:
        "free registration"
        "text text";
}

.text {
    justify-self: center;
    align-self: center;
    grid-area: text;
}

.free { grid-area: free; }

.registration { 
    grid-area: registration; 
    
}
      