.home {  
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 2fr 1fr;
  grid-auto-flow: column;
  justify-items: stretch;
  margin: 1.5% 3%;
  grid-template-areas:
    "banner banner"
    "intro ads"
    "significant-dates significant-dates"
    "topics topics"
    "partners partners"
  }
  
.banner { 
  margin: 1% auto;
  max-width: 100%;
  grid-area: banner;
  border-radius: 1%;
}

.intro { grid-area: intro; }

.ads {
  grid-area: ads;
  margin: auto 10%;
  }

.toast-body div, a{
  font-size:1.1rem;
}

.toast{min-width: 20%; }

.significant-dates { grid-area: significant-dates; }

.topics-home {grid-area: topics;}

.partners { grid-area: partners; }
  
h1{
  color: #33b0ea;
}
