.home {  
  max-width: 90%;
  display: grid;
  gap: 0px 0px;
  grid-template-columns: 70% 30%;
  grid-auto-flow: row;
  justify-items: start;
  margin: 1.5% 3%;
  grid-template-areas:
    "banner banner"
    "intro ads"
    "significant-dates significant-dates"
    "topics topics"
    "partners partners"
  }
  
.banner { 
  margin: 1% auto;
  width: 90%;
  grid-area: banner;
  border-radius: 1%;
  display: block;
}

.intro { grid-area: intro; }

.ads {
  grid-area: ads;
  margin: auto 10px;
  }

.toast-body div, a{
  font-size:1.1rem;
}

.ads>.toast{
  width: 70%; 
  max-width: 70%;
}

.significant-dates { grid-area: significant-dates; }

.topics-home {grid-area: topics;}

.partners { grid-area: partners; }
  
h1{
  color: #33b0ea;
}
