.organizers {  
  margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-template-areas:
      "glushkov kpi gl";
  }
  
  .glushkov { grid-area: glushkov; }
  
  .kpi { grid-area: kpi; }
  
  .gl { grid-area: gl; }
  
.organizer{
    display: grid;
    grid-template-rows: 0.fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "title-img"
}

  .text{
    text-align: center;
    width: 100%;
    grid-area: text
  }

  h4.text{
    text-align: center;
    display: block;
    grid-area: text
  }

  .title-img{
    display: block;
    margin: auto;
    max-block-size: 80%;
    grid-area:title-img;
    align-self: center;
  justify-self: center;
  }


