.speakers{
    margin: 1.5% 3%;
}

.speakers .card{
    flex-direction: row;
    margin-top: 4%;
}

.card-body{
    margin: auto;
}

.speakerPhoto{
    margin: auto;
    height: 100%;
}

.speakerPhoto>*{
    display: block;
    max-width: 15em;
    border-top-left-radius: 15%; /* Радиус скругления */
    border-bottom-left-radius: 15%; /* Радиус скругления */
}

.card-text>*{
    font-size: 0.95rem;
}

.speakers>.speakersListItem{
    background-color: #8aacc815;
    border-radius: 3rem;
}