.speakers{
    margin: 1.5% 3%;
}

.speakers .card{
    flex-direction: row;
    margin-top: 4%;
}

.card-body{
    margin: auto;
}

.speakerPhoto{
    margin: auto;
}

.speakerPhoto>*{
    border-top-right-radius: 15%; /* Радиус скругления */
    border-bottom-right-radius: 15%; /* Радиус скругления */
}

.card-text>*{
    font-size: 0.95rem;
}
